:root {
  --background: #eeeeee;
  --purple: #633cff;
  --light-purple: #efebff;
  --base-grey: #737373;
  --base-dark-grey: #333333;
  --light-grey: #FAFAFA;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
